{% extends "base.html" %}

{% block content %}

<style>
        body {
  background-color: #323436;
}


</style>
<form method="POST" action="{{ url_for('search') }}">
    <input type="text" name="search_query" placeholder="Search for a book" required>
    <button type="submit">Search</button>
</form>
<div class="container mt-5 text-center">
    <img src="{{ url_for('static', filename='images/book-basket.png') }}" width="100" height="100" alt="Book Basket">
    <h1 class="text-white">Welcome to Book Recommendations</h1>
    <p class="text-white">This app helps you find new books to read by recommending similar books to ones you already
        enjoy.</p>
    <p class="text-white">To get started, visit the <a href="/recommend" class="text-purple">recommendations</a> page
        and enter the title of a book you like.</p>
</div>
{% endblock %}