{% extends 'base.html' %}
<head>
    <meta charset="UTF-8">
    <title>book info</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>

{% block content %}
<body>
<style>

.image-container img {
  width: 60%;
  height: auto;
  max-width: 500px;
  padding:10% 0;
  padding-left:10%;


}
body{

background-color: #323436;
}

.site-section{
      background-color: #323436;
      border-radius:25px;
}
.bg{
background-color:white;
margin:20px 0;
border-radius:15px;
}
.row{
margin:20px
}








</style>

<br>
<div class="site-section">
    <div class="container">
        <div class="row" style="background-color:white ;border-radius:15px;">

            <div class="col-md-6 image-container">
                <img src="{{image_url}}" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-5 bg">

                <h3 style="padding-top:10%;">{{title}}</h3>
                <h6>{{author}}</h6>
                <h4>Book Description</h4>
                <ol style="list-style:none;">
                    <li><p class="mb-4">{{description}}</p></li>
                </ol>

                <p><strong class="text-primary h4">$50.00</strong></p>


                <p><a href="https://amazon.in/s?k={{title}}" class="buy-now  btn-sm btn btn-warning">Buy Now</a></p>
                <br>

            </div>
        </div>
    </div>
</div>

</body>
{% endblock %}

